@import './theme';

app {
  display: flex;
  flex-direction: column;
  height: 100%;

  .top-bar {
    flex: 1 0 30px;
    top: 0;
    left: 0;
    width: 100%;
    background-color: lighten($back-color, 5%);

    .brand {
      line-height: 30px;
      padding-left: 0.5rem;
    }
  }

  .content {
    flex: 1 1 100%;
    display: flex;

    .sidebar {
      flex: 1 0 250px;
      background-color: lighten($back-color, 5%);
      border-top: solid 1px $back-color;
      transition: flex-basis ease-in-out 0.5s;

      @media (max-width: 768px) {
        & {
          flex-basis: 150px;
        }
      }

      .nav-link {
        padding-left: 1rem;
        color: $color;
        transition: background-color ease-in-out 0.1s;
        cursor: pointer;

        &:hover {
          background-color: rgba(255, 255, 255, 0.05);
        }

        &:active {
          background-color: rgba(255, 255, 255, 0.1);
        }

        &.active {
          background-color: rgba(255, 255, 255, 0.05);

          &:hover {
            background-color: rgba(255, 255, 255, 0.1);
          }

          &:active {
            background-color: rgba(255, 255, 255, 0.02);
          }
        }
      }
    }

    .container {
      flex: 1 1 100%;
      overflow-y: auto;
    }
  }

  .form-group:last-child {
    margin-bottom: 0;
  }

  .spinner {
    margin-right: 5px;
    animation: spin 1s linear infinite;

    &#searchSpinner {
      position: absolute;
      z-index: 1;
      right: 1rem;
      top: 0;
      padding: 0.5rem 0.75rem;
      line-height: 1.25rem;
      color: #999;
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.chat-hyperlink {
  cursor: pointer;
  color: deepskyblue;
  display: inline-block;

  &:hover {
    text-decoration: underline;
  }
}

code {
  border-radius: 0;
  background-color: #333;
  color: #CCC;
  border: solid 1px #444;
}